/* universal setup */
*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}
/* container */
.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}
/* navbar */
.navbar{
    background-color: #ffffff;
    padding: 16px 0px;
}
/* flex wrapper */
.nav-wrapper{
    display: flex;
    align-items: center;
}
/* logo */
.nav-logo img{
    height: 40px;
}
/* menu center alignment */
.nav-menu{
    /* justify-content: space-between; */
    flex: 1;
    text-align: center;
}
.nav-menu ul{
    list-style: none;
}
.nav-menu ul li{
    display: inline-block;
    margin: 0px 16px;
}
.nav-menu ul li a{
    text-decoration: none;
    font-weight: 500;
}
/* right button of header */
.nav-action{
    margin-left: auto;
}
.btn-primary, .btn-secondary{
    text-decoration: none;
    background-color: #2e7d32;
    color: white;
    padding: 10px 18px;
    border-radius: 6px;
    font-weight: 500;
}
/* hover effect on header button */
.btn-primary:hover{
    background-color: #1b5e20;
}
/* Banner */
.banner{
    width: 100%;
    min-height: 80vh;
    background: url('assets/hero-bg.png') no-repeat center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}
.banner-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;

}
.banner-content{
    position: relative;
}
.banner h1{
    font-size: 3rem;
    margin-bottom: 20px;
    line-height: 1.5;
    color: #f0f0f0;
}
.banner-buttons{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
}
/* secondary buttons unique features */
.btn-secondary{
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
}
.btn-secondary:hover{
    background-color: #fff;
    color: #333;
}
/* responsive banner : jatae shob type screen e fit hoy */
@media (max-width: 768px){
    .banner h1{
        font-size: 2rem;
    }
    .banner p{
        font-size: 1 rem;
    }
    .banner-buttons{
        flex-direction: column;
    }
}