/* universal setup */
*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}
/* container */
.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}
/* navbar */
.navbar{
    background-color: #ffffff;
    padding: 16px 0px;
}
/* flex wrapper */
.nav-wrapper{
    display: flex;
    align-items: center;
}
/* logo */
.nav-logo img{
    height: 40px;
}
/* menu center alignment */
.nav-menu{
    /* justify-content: space-between; */
    flex: 1;
    text-align: center;
}
.nav-menu ul{
    list-style: none;
}
.nav-menu ul li{
    display: inline-block;
    margin: 0px 16px;
}
.nav-menu ul li a{
    text-decoration: none;
    font-weight: 500;
}
/* right button of header */
.nav-action{
    margin-left: auto;
}
.btn-primary{
    text-decoration: none;
    background-color: #2e7d32;
    color: white;
    padding: 10px 18px;
    border-radius: 6px;
    font-weight: 500;
}
/* hover effect on header button */
.btn-primary:hover{
    background-color: #1b5e20;
}